* {
  box-sizing: border-box; 
}

body {
  background: black;
}

img {
  max-width: 40px;
  z-index: 0;
}

pre {
  color: green;
  background: white;
  padding: 1rem;
}

.title {
  margin-bottom: 2rem;
}

.title .under {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.title .construction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: red; */
}

.title .construction img {
  /* background: pink; */
  flex-grow: 1;
}

.button-container {
  background: red;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;

  outline: 0.25rem solid #a22;
  /* border-left: 0.5rem solid pink; */
}

#smasher,#healer{
  background: #faa;
  border-radius: none;
  border: none;
  color: red;
  z-index: 999;
}

#smasher:hover,#healer:hover {
  color: white;
  background: #f88;
}

#smasher:active,#healer:active {
  color: white;
  background: #f55;
}

.view-count-click {
  position: fixed;
  /* top: 0; */
  /* right: 0; */
  color: yellow;
  text-shadow: 0 0 10px yellow;
  inner-shadow: 0 0 2px white;
}
