* {
  box-sizing: border-box; 
}

body {
  background: black;
}

img {
  max-width: 40px;
}

.title {
  margin-bottom: 2rem;
}

.title .under {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
}

.title .construction {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background: red; */
}

.title .construction img {
  /* background: pink; */
  flex-grow: 1;
}

.button-container {
  background: red;
  width: 50px;
  height: 50px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 5px;

  outline: 0.25rem solid #a22;
  /* border-left: 0.5rem solid pink; */
}

#smasher {
  background: #faa;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: red;
}

#smasher:hover {
  color: white;
  background: #f88;
}

#smasher:active {
  color: white;
  background: #f55;
}
